html::-webkit-scrollbar {
    width: 0px
}

#placeholder {
    min-height: 50px;
    border: 1px dashed lightgray;
}

#placeholder.inline {
    min-height: 50px;
    min-width: 50px;
    border: 1px dashed lightgray;
    display: inline-block;
    vertical-align: middle;
}
